.align-me {
    display: flex;
    
}
.carousel-design{
    background-color: rgb(62, 65, 62);
    color: rgb(17, 14, 14);

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow-x: scroll;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: span 6;

}
.card {
    grid-column:span 6 ;
    scroll-snap-align: start;
}

