.CallenderContainer {

    width: auto;
    margin: 1rem 2em;
    
}

.CallenderRow {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;

}
.CallenderRow  h2{
  margin: 2em;
  padding-bottom: 5%;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-display: right;

}


@media (max-width: 600) {
    .CallenderContainer{
        padding: 2em;
        border: 3rem;
        display: absolute;
    }
    
} 