.model-Style {
    font-family: sans-serif;
    text-align: center;
    width: 50%;
    height: 50%;
}
.model-Style input {
    width: auto;
    height: auto;
    padding-left: 25%;
    padding-top: 10%;
    padding-right: 25%;
}
